* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	position: relative;
	background-color: #f0ffff;
	--secondary-text-color: #181820;
	--icon-color: #6a737d;
	--border-color: #ff9a0045;
	--primary-text-color: #ff8c00;
	--chip-padding: 5px 8px;
	--chip-font-size: 18px;
	--chip-border-radius: 24px;
	--chip-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--primary-text-color);
}

h2 {
	font-size: 30px;
	font-weight: bold;
	color: var(--primary-text-color);
}

p {
	color: var(--secondary-text-color);
}

span {
	color: var(--secondary-text-color);
}

/* Utility classes */

.fh {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.fh-start {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
	gap: 15px;
}

.fv {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1400px;
}

/* Utiliti classes */

/* Modal */
.modal-wrapper {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 999;
	display: none;
	top: 0;
	right: 0;
}

.modal {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	border: 2px solid red;
	width: 200px;
	height: 200px;
}

/* Modal */

/* Header */

.head {
	padding: 10px 0;
}

.navigation-list-item a {
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.navigation-list-item a:hover {
	text-decoration: underline;
}
/* Header */

/* About */
.about {
	margin: 100px 0;
}

.about-row {
	gap: 15px;
}

.about-text {
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: left;
	font-size: 20px;
}

.chip {
	padding: var(--chip-padding);
	border-radius: var(--chip-border-radius);
	background-color: rgb(173, 216, 230);
	box-shadow: var(--chip-shadow);
	font-size: var(--chip-font-size);
}

.js {
	background-color: #ffd700;
}

.ts {
	background-color: #1e90ff;
}

.react {
	background-color: #00bfff;
}

.redux {
	background-color: #ba55d3;
}

.axios {
	background-color: #9370db;
}

.css {
	background-color: #1e90ff;
}

.html {
	background-color: #ff6347;
}

.scss {
	background-color: #ee82ee;
}

.mui {
	background-color: #1e90ff;
}

.rest {
	background-color: #3cb371;
}

.postman {
	background-color: #ffa07a;
}

.git {
	background-color: #6a5acd;
}

.figma {
	background-color: #dda0dd;
}

.contact-item:hover {
	text-decoration: underline;
}

/* About */

/* Experience */
.experience {
	display: none;
}

.experience-row {
	width: 100%;
}

.project-grid {
	margin-top: 50px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}

.project-item {
	width: 100%;
	height: 150px;
	border: 2px solid red;
}

.project-title {
	background-color: gray;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-title h5 {
	font-size: 24px;
}

.project-item {
	perspective: 1000px;
	position: relative;
}

.project-item-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.front-side,
.back-side {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}

.front-side {
	transform: rotateY(0deg);
}

.back-side {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
}

.back-side {
	transform: rotateY(180deg);
}

.project-item:hover .project-item-inner {
	transform: rotateY(180deg);
}

/* Experience */

/* Media */

/* Media */
